<div class="nomeJogo">
  <h1>Quest de Química</h1>
</div>

<div class="game">

  <div class="contagem">
    <div class="pontuação">
      <h4>Pontuação:</h4>
    </div>
    <div class="timer">
      <h4>Timer:</h4>
    </div>
  </div>

  <div class="quest">
    <h2>pergunta 1</h2>
    <div class="respostas">
      <form>
        <input type="radio" > opção 1<br>
        <input type="radio" > opçao 2<br>
        <input type="radio" > opção 3<br>
        <input type="radio" > opçao 4<br>
        <input type="radio" > opçao 5<br>
        <input type="radio" > opção 6
      </form>
    </div>
  </div>
  <button type="button" name="button">Próxima pergunta</button>


</div>
